
bin/Debug/net6.0/Projects 1.0.0.zip
bin/Debug/net6.0/Projects.deps.json
bin/Debug/net6.0/Projects.dll
bin/Debug/net8.0/Projects 1.0.0.zip
bin/Debug/net8.0/Projects.dll
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/Projects.AssemblyInfo.cs
obj/Debug/net5.0/Projects.AssemblyInfoInputs.cache
obj/Debug/net5.0/Projects.assets.cache
obj/Debug/net5.0/Projects.csproj.AssemblyReference.cache
obj/Debug/net5.0/Projects.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Projects.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Projects.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Projects.GlobalUsings.g.cs
obj/Debug/net5.0/Projects.sourcelink.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Projects.AssemblyInfo.cs
obj/Debug/net6.0/Projects.AssemblyInfoInputs.cache
obj/Debug/net6.0/Projects.assets.cache
obj/Debug/net6.0/Projects.csproj.AssemblyReference.cache
obj/Debug/net6.0/Projects.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Projects.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Projects.dll
obj/Debug/net6.0/Projects.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Projects.GlobalUsings.g.cs
obj/Debug/net6.0/Projects.sourcelink.json
obj/Debug/net8.0/Projects.AssemblyInfo.cs
obj/Debug/net8.0/Projects.AssemblyInfoInputs.cache
obj/Debug/net8.0/Projects.assets.cache
obj/Debug/net8.0/Projects.csproj.AssemblyReference.cache
obj/Debug/net8.0/Projects.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Projects.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Projects.dll
obj/Debug/net8.0/Projects.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Projects.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
obj/Projects.csproj.nuget.dgspec.json
obj/Projects.csproj.nuget.g.props
obj/Projects.csproj.nuget.g.targets
obj/Projects.csproj.nuget.g.targets
obj/Projects.csproj.nuget.g.props
obj/Projects.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/Projects.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Projects.dll
obj/Debug/net8.0/Projects.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Projects.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Projects.csproj.AssemblyReference.cache
obj/Debug/net8.0/Projects.assets.cache
obj/Debug/net8.0/Projects.AssemblyInfoInputs.cache
obj/Debug/net8.0/Projects.AssemblyInfo.cs
bin/Debug/net8.0/Projects.dll
bin/Debug/net8.0/Projects 1.0.0.zip
